extends layout

block content
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")


  h1
    title

  table(id= "laneTable", class="table table-sm")
    thead(class="thead-inverse")
      tr
        td= "Rata"
        td= "Paikka"
        td= "V채ylien m채채r채"
        td= "Pinnanmuodot"
    script
      include ../javascriptFunctions/getAllLanes.js
