extends layout

block content
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")


  h1
    title



      <input type="submit">
    </form>




  <form action="/lane/" method="get" id="nimenHakuFormi">
    <input id="inputRadanNimelle" list="nimilista" name="lane" oninput= "dataListSubmit ()">
    <datalist id="nimilista"> </datalist>
    <input type="submit" value="hae radan nimellä">
  </form>

  table(id= "laneTable", class="table table-sm" style="font-size:100px;")
    thead(class="thead-inverse")
      tr
        td= "Rata"
        td= "Paikka"

    script
      include ../javascriptFunctions/getAllLanes.js
