extends layout

block content


  h1
    title

  table(id= "laneTable", class="table table-bordered")
    thead
      tr
        td= "Radan nimi"
        td= "paikka"
        td= "väylien määrä"
        td= "pinnanmuodot"
    
  table(id= "laneTable2", class="table table-bordered")

  p
    Kirjoita oma tuloksesi alle väylittäin:
  form(id="form1" , role="form")

  div(id="container" style="min-width: 250px; height: 400px; margin: 0 auto")

  div(id="container2")

  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  script(src="https://code.highcharts.com/highcharts.js")
  script(src="https://code.highcharts.com/modules/exporting.js")

  script
    include ../javascriptFunctions/getOneLineInformation.js
