doctype html
html
  head
    <!-- Bootstrap-->
    link(link rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    <!-- Other own stylesheet-->
    link(rel='stylesheet', href='/stylesheets/style.css')

    title= title

    script
        include ../javascriptFunctions/getTokenCookie.js
        include ../javascriptFunctions/changeColor.js

  <!-- Main container of bootstrap all goes inside this-->
  body(class="container" id= "bigContainer1" onload="setColor()" )

      input(id= "colorPicker" type="color")
      <button id= "colorPickerButton" onclick="changeColor()" type="button">vaihdataustav채ri채</button>
      

      p(id = "usernameP")

      <!-- Navigation bar-->
      ul(class="navBar" id= "nawBar")

        li
          a(href="/mainPage") P채채sivu
        li
          a(id ="informationLink",href="/ownInformation/?user=" ) Omat tiedot
        li
          a(id ="matchHistoryLink", href="/matchHistory/?user=" ) Omat pelihistoriat
        li
          a(href="/lane") Katso kaikki radat
        li
          a(href="/logout") Kirjaudu ulos


  if (message)
      p(class='message')  #{message}


  block content
