doctype html
html
  head
    <!-- Bootstrap-->
    link(link rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    <!-- Other own stylesheet-->
    link(rel='stylesheet', href='/stylesheets/style.css')

    title= title

    script
        include ../javascriptFunctions/getTokenCookie.js

  <!-- Main container of bootstrap all goes inside this-->
  body(class="container")

    if (username)
      p You are Logged In as: #{username}

      <!-- Navigation bar-->
      ul(class="navBar")

        li
          a(href="/mainPage") Main Page
        li
          a(href="/ownInformation/?user=" +username +"?token=" +token ) Look your own information

        li
          a(href="/matchHistory/?user=" +username ) Look your own match history
        li
          a(href="/findFriends" ) Find Friends
        li
          a(href="/match") Create new match history
        li
          a(href="/logout") Logout


    if (message)
      p(class='message')  #{message}


    block content
