extends unLoggedLayout

block content

  h1= title
  p Here you can do the #{title}
  //register form
  form(method='POST' action='/register')
    div.form-group
      label(for='name') Nimi:
      input#name.form-control(type='text', placeholder='Sinun ei tarvistse laittaa oikeaa nimeäsi...' name='name')
    div.form-group
      label(for='username') Käyttäjänimi:
      input#username.form-control(type='text', placeholder='Hauska käyttäjätunnus' name='username')

    div.form-group
      label(for='pw') Salasana:
      input#pw.form-control(type='password' name='password')
    div.form-group
      label(for='pw2') Vahvista salasana:
      input#pw2.form-control(type='password' name='confirmPassword')
    button.btn.btn-primary(type='submit') Rekisteröidy
