extends layout
block content






  form(method='PUT' action='/ownInformation')
    div.form-group
      label(for='name') Nimi:
      input#name.form-control(type='text', value = name,  name='name')
    div.form-group
      label(for='username') k채ytt채j채nimi:
      input#username.form-control(type='text', value = username,  name='username')
    div.form-group
      label(for='age') ik채:
      input#age.form-control(type='number',  name='age' ,value = age)
    div.form-group
      label(for='hometown') kotikaupunki:
      input#hometown.form-control(type='text',  name='hometown', value = hometown)



    button.btn.btn-primary(type='button', id = "Button1") Muuta tietojasi

  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")

  script
      include ../javascriptFunctions/userInformation.js
